  .image {
    max-height: rem(500px);
    object-fit: contain;
  }
  
  
  .paperTitle {
    max-width: rem(400px);
  }
  
  .paperDescription {
    display: flex;
    align-items: flex-start;
    max-width: rem(400px);
    white-space: normal;

  }
  
  /* Media query for when the Flex direction changes to column */
@media (max-width: 768px) {
  .container {
    max-width: 400px; /* Set the max-width when in column layout */
  }

  .paperTitle,
  .paperDescription {
    max-width: 400px; /* Match the width of the container */
  }
}